<nav id="nav" class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <ul id="ul-nav" class="nav justify-content-center">
        <li class="nav-item">
          <a class="navbar-brand" href="#">Tienda Gamer</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/home']">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/products']">Productos</a>
        </li>
    </ul>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span id="cart-icon">
        @if((cartLength$ | async)) {
          <div id="pop-up">{{cartLength$ | async}}</div>
        }
        <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>
      </span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Carrito de Compras</h5>
        <button type="button" class="btn btn-light btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <app-cart></app-cart>
      </div>
    </div>
  </div>
</nav>