<div class="product_container">
    @for (product of (products$ | async); track product.name) {
        <div class="card">
            <img class="img-thumbnail" [src]="product.image" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <div id="price-buy">
                <p class="card-text">{{product.price | currency}}</p>
                <a class="btn btn-primary" (click)="AddToCart(product)">Buy</a>
            </div>
            </div>
        </div>
    }
</div>
