.product_container {
    display: flex;
    align-content: center;
    justify-content: center;
}

.card {
    margin: 5px;
    height: 300px;
    width: 200px;
}

.card-img-top {
    width: 150px;
    height: 134px;
    align-self: center;
    margin: 10px;
}

#price-buy {
    display: flex;
    justify-content: space-between;
}