.input-container {
    text-align: center;
    width: 80px;
    height: 30px;
    align-items: center;
    justify-content: center;
}

input {
    width: 25px;
    height: 30px;
    border: 0px;
    border-top: 1px solid #6c757d;
    border-bottom: 1px solid #6c757d;
    font-size: 12px;
    text-align: center;
}

button {
    width: 25px;
    height: 30px;
}

#downBtn {
    border-right: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

#upBtn {
    border-left: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}